# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
s1=pd.Series(np.random.randint(1,4,100))
s2=pd.Series(np.random.randint(1,3,100))
s3=pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
df = pd.concat([s1,s2,s3],axis=1)
df

    0  1      2
0   2  2  16989
1   2  1  14825
2   1  1  26805
3   1  1  27399
4   1  2  12393
.. .. ..    ...
95  3  2  11592
96  3  2  20048
97  3  2  10842
98  1  1  24344
99  3  1  18199

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [9]:

df.columns=['bedrs','bathrs','price_seq_meter']
df

    bedrs  bathrs  price_seq_meter
0       2       2            16989
1       2       1            14825
2       1       1            26805
3       1       1            27399
4       1       2            12393
..    ...     ...              ...
95      3       2            11592
96      3       2            20048
97      3       2            10842
98      1       1            24344
99      3       1            18199

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
bigcolumn = pd.concat([s1,s2,s3])
bigcolumn

0         2
1         2
2         1
3         1
4         1
      ...
95    11592
96    20048
97    10842
98    24344
99    18199
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [12]:
#yes

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [14]:
bigcolumn.reset_index(inplace=True,drop=True)

In [15]:
bigcolumn

0          2
1          2
2          1
3          1
4          1
       ...
295    11592
296    20048
297    10842
298    24344
299    18199
Length: 300, dtype: int64