# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1.head()
cars1 = cars1.loc[:,'mpg':'car']

### Step 5. What is the number of observations in each dataset?

In [14]:
print(cars1.shape)
cars2.shape

(198, 9)

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [20]:
nrowners = np.random.randint(15000,high=73000,size=398,dtype='l')
nrowners

array([38788, 16562, 65120, 59713, 71047, 29054, 66948, 23142, 58446,
       35854, 70927, 59066, 18434, 39069, 62478, 34837, 43003, 67334,
       58822, 62007, 50191, 72806, 19338, 29287, 68231, 31770, 64795,
       51290, 55933, 66473, 62285, 27347, 45681, 49013, 40380, 54094,
       40657, 72390, 44442, 58913, 17248, 49156, 49799, 26683, 44425,
       60588, 64562, 71680, 44064, 26294, 45440, 27745, 43396, 72226,
       18874, 43451, 72836, 20523, 55458, 56618, 69455, 32856, 24613,
       67593, 56064, 33308, 21566, 69512, 32294, 23531, 55905, 48825,
       54237, 30735, 37038, 22438, 30932, 30261, 25034, 54299, 40359,
       49116, 58081, 21448, 60215, 72658, 45026, 50201, 42437, 25017,
       23068, 32516, 40442, 70415, 19211, 43611, 71489, 34776, 50786,
       29555, 38925, 46091, 28124, 60832, 24480, 31892, 48271, 16118,
       66904, 51893, 33483, 21079, 71374, 71821, 26299, 25250, 39438,
       38412, 35418, 24982, 72856, 28202, 39679, 67976, 22847, 69948,
       32194, 71141, 42238, 37530, 17057, 37536, 33159, 24210, 60075,
       48130, 29608, 40634, 31596, 61140, 49015, 48945, 35549, 59931,
       56584, 56996, 62864, 70695, 34690, 31102, 62505, 39102, 58789,
       64585, 58093, 26145, 35282, 72593, 32630, 62812, 53600, 52347,
       22702, 21463, 60006, 44266, 16102, 25700, 23958, 64101, 60444,
       62648, 50266, 69439, 55759, 66853, 45199, 70729, 33399, 64932,
       65463, 29394, 45142, 60066, 52541, 45973, 53990, 35480, 22448,
       41506, 18533, 52119, 36902, 15215, 31822, 72309, 21777, 67952,
       22904, 44237, 59721, 49734, 26752, 62188, 53097, 63175, 63105,
       60297, 31598, 17013, 23562, 35254, 43784, 72684, 62590, 71449,
       19754, 61827, 35678, 67611, 29902, 23825, 20919, 28570, 47863,
       39373, 40079, 56649, 37722, 20666, 32238, 64738, 71897, 46561,
       15128, 59769, 20271, 62623, 45291, 58240, 69733, 43284, 19460,
       48232, 16244, 37117, 55743, 60106, 29721, 36533, 69693, 37669,
       61130, 27729, 40523, 58270, 61101, 43534, 50894, 48277, 61556,
       61885, 53087, 19081, 31551, 51719, 53239, 23020, 59721, 31257,
       17421, 41001, 51488, 41237, 24850, 48213, 59418, 42047, 66753,
       40709, 30604, 55821, 69002, 69278, 63193, 52494, 15277, 26363,
       29448, 67556, 66003, 42344, 29224, 15018, 47183, 27152, 26689,
       41758, 69760, 38058, 68407, 52846, 65439, 51917, 68370, 51484,
       38782, 18149, 46746, 25679, 58338, 63782, 24979, 57232, 60209,
       63148, 30120, 34382, 35664, 60629, 41977, 24917, 24855, 46086,
       36392, 54079, 58513, 31979, 43148, 57282, 66215, 46835, 22978,
       19855, 55083, 60675, 37074, 52959, 25214, 32926, 45030, 28009,
       66360, 29606, 23705, 15930, 71352, 20049, 32580, 46431, 18436,
       22078, 39822, 31456, 55198, 48925, 60353, 67571, 45444, 31630,
       20487, 38312, 38367, 22125, 36227, 70779, 72932, 58513, 71683,
       29003, 24365, 70974, 23329, 71111, 51103, 58952, 70555, 50951,
       52444, 56549, 60960, 47946, 26183, 46937, 41122, 46999, 22431,
       18015, 29891, 40223, 38399, 35796, 68096, 48680, 57747, 51300,
       16125, 28045])

### Step 8. Add the column owners to cars

In [21]:
cars['owner']=nrowners

In [22]:
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48680
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,57747
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,51300
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,16125
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,28045