# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [22]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [23]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]],axis=1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [24]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [25]:
wine.loc[0:2]=np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [28]:
wine.loc[[3,4],'magnesium']=np.nan
wine.head(11)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,NaN,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
8,13.86,1.35,16.0,98.0,3.15,1.85,1.01
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [33]:
wine['alcohol'].fillna(10,inplace=True)
wine['magnesium'].fillna(100,inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,NaN,NaN,100.0,NaN,NaN,NaN
1,10.00,NaN,NaN,100.0,NaN,NaN,NaN
2,10.00,NaN,NaN,100.0,NaN,NaN,NaN
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,100.0,3.39,1.97,1.05

### Step 9. Count the number of missing values

In [35]:
wine.isna().sum()

alcohol              0
malic_acid           3
alcalinity_of_ash    3
magnesium            0
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [39]:
arr = np.random.randint(0,10,10)
arr

array([5, 0, 2, 1, 8, 8, 8, 1, 4, 1])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [40]:
wine.alcohol[arr]=np.nan

### Step 12.  How many missing values do we have?

In [41]:
wine.isna().sum()

alcohol              6
malic_acid           3
alcalinity_of_ash    3
magnesium            0
flavanoids           3
proanthocyanins      3
hue                  3
dtype: int64

### Step 13. Delete the rows that contain missing values

In [44]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [45]:
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17

### Step 15.  Reset the index, so it starts with 0 again

In [46]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
1,6,14.06,2.15,17.6,121.0,2.51,1.25,1.06
2,7,14.83,1.64,14.0,97.0,2.98,1.98,1.08
3,9,14.10,2.16,18.0,105.0,3.32,2.38,1.25
4,10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
...,...,...,...,...,...,...,...,...
166,172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
167,173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
168,174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
169,175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
170,176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.