# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
dicti = {
    'evolution': ['ivy','charm','wartortle','metapod'],
    'hp': [45,39,44,45],
    'name': ['bulbasur','charmandar','squirtle','caterpie'],
    'pokedex': ['yes','no','yes','no'],
    'type': ['grass','fire','water','bug']
}

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon = pd.DataFrame(dicti)
pokemon.head()

   evolution  hp        name pokedex   type
0        ivy  45    bulbasur     yes  grass
1      charm  39  charmandar      no   fire
2  wartortle  44    squirtle     yes  water
3    metapod  45    caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon.columns = [' name', 'type', 'hp', 'evolution', 'pokedex']
pokemon

        name  type          hp evolution pokedex
0        ivy    45    bulbasur       yes   grass
1      charm    39  charmandar        no    fire
2  wartortle    44    squirtle       yes   water
3    metapod    45    caterpie        no     bug

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['place']=['gulag','erangel','tuvalu','japan']

### Step 6. Present the type of each column

In [12]:
pokemon.dtypes

 name        object
type          int64
hp           object
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.