# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [4]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [7]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [36]:
pd.isnull(iris).sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [37]:
iris.loc[10:30,'petal_length']=np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [40]:
iris.fillna(1,inplace=True)
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 8. Now let's delete the column class

In [43]:
iris.drop('class',axis=1,inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [44]:
iris.loc[:3]=np.nan
iris

     sepal_length  sepal_width  petal_length  petal_width
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
8             4.9          3.1           1.5          0.1
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[124 rows x 4 columns]

### Step 10.  Delete the rows that have NaN

In [45]:
iris.dropna(axis=0,inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [33]:
iris.reset_index()

,index,sepal_length,sepal_width,petal_length,petal_width,class
0,4,5.4,3.9,1.7,0.4,Iris-setosa
1,5,4.6,3.4,1.4,0.3,Iris-setosa
2,6,5.0,3.4,1.5,0.2,Iris-setosa
3,7,4.4,2.9,1.4,0.2,Iris-setosa
4,8,4.9,3.1,1.5,0.1,Iris-setosa
...,...,...,...,...,...,...
119,144,6.7,3.0,5.2,2.3,Iris-virginica
120,145,6.3,2.5,5.0,1.9,Iris-virginica
121,146,6.5,3.0,5.2,2.0,Iris-virginica
122,147,6.2,3.4,5.4,2.3,Iris-virginica
123,148,5.9,3.0,5.1,1.8,Iris-virginica

### BONUS: Create your own question and answer it.